DATABASE_URL=postgres://benchmarking_user:changeme@localhost:5435/benchmarking_db
SECRET_KEY=replace-with-a-long-random-string
DJANGO_SETTINGS_MODULE=config.settings
DEBUG=True
CORS_ALLOWED_ORIGINS=http://localhost:3000
